.terminalInputTxt {
    width: 100%;
    height: 3rem;
    background-color: var(--black);
    color: var(--green);
    box-shadow: var(--generalBoxShadow);
    border: solid 1px var(--green);
    padding: 0.5rem;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--lightGreen);
    }
}

// number tackles of input range container
.rangeTacklesContainer {
    font-size: 0.6rem;        
    display: flex;
    justify-content: space-between;
    width: 95%;
}