.stepSequencer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    .step {
        width: 4rem;
        height: 4rem;
        border: solid 1px var(--green);
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: var(--lightGreen);
            color: var(--black);
        }
    }

    .inputsContainer {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        border: solid 1px var(--green);
        background-color: var(--transparentGreen);
    }
}



